.App {
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: gray;
}

.Section {
  &__home {
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    &__header {
      height: 90vh;
    }

    &__bottom {
      height: 10vh;
    }
  }

  &__services {
    height: 100vh;
    width: 100vw;

    &__header {
      height: 20vh;
    }

    &__detail {
      height: 65vh;

      &__item {
        // background-color: red;

        &__header {
          // background-color: blue;
        }

        &__image {
          // background-color: yellow;
        }

        &__button {
          // border: 2px solid rgb(163, 158, 158);
          // background-color: white;
          // color: black;
        }
      }
    }

    &__bottom {
      height: 15vh;
    }
  }
}